section.content 
    ul.content-list 
        li.content-list__item
            article.snippet 
                .snippet-info 
                    h3.snippet-info__heading HTML boilerplate
                    span.snippet-info__description This is HTML boilerplate
                .snippet-code
                    pre.snippet-code__container.language-js
                        code.snippet-code__container-code.
                            var i = 43;
        li.content-list__item
            article.snippet 
                .snippet-info 
                    h3.snippet-info__heading Javascript Bolierplate
                    span.snippet-info__description This is javascript boilerplate
                .snippet-code
                    pre.snippet-code__container.language-js
                        code.snippet-code__container-code.
                            var i = 43;