header
	nav.nav
		a.nav-write(href="#") 
			button.nav-write__button 
				i.nav-write__button-icon.far.fa-edit 
			span.nav-write__text Write
		ul.nav-list
			li.nav-list__item
				a.nav-list__item-link(href="#") HTML
			li.nav-list__item
				a.nav-list__item-link(href="#") CSS
			li.nav-list__item
				a.nav-list__item-link(href="#") Javascript
		.nav-search
			input.nav-search__field(type="text" name="search" placeholder="Search your snippets")
			button.nav-search__button(autocomplete="off")
				i.fas.fa-search.nav-search__button-icon
