script(src="https://kit.fontawesome.com/9031ae7b04.js", crossorigin="anonymous", defer)
//- fontawesome icons
link(rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon")
link(rel="stylesheet", href="/dist/css/home.css")
script(src="#")
script(src='/lib/prismjs/prism.js', defer)
link(rel="stylesheet", href="/lib/prismjs/prism.css")